@model List<Seccion>
@{
    ViewData["Title"] = "Secciones";
}

<div class="text-center mb-4">
    <h1 class="display-4">Archivo Historia de la psicologia</h1>
    <p>Universidad Nacional de Tucuman</p>
</div>

<div class="row">
    @foreach (var seccion in Model)
    {
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex align-items-stretch mb-4">
            <div class="card w-100">
                <img src="@Url.Content("~/images/secciones/" + seccion.ImagenPath)" class="card-img-top" alt="@seccion.Nombre">
                <div class="card-body">
                    <h5 class="card-title">@seccion.Nombre</h5>
                    <p class="card-text">@seccion.Descripcion</p>
                </div>
            </div>
        </div>
    }
</div>
